<ion-view view-title="{{menu.name}}">
    <ion-header-bar align-title="center" class="bar-light">
        <ion-nav-bar align-title="center">
            <ion-nav-buttons>
                <button class="button button-clear button-icon" ng-click="goBack()" ><i class="ion-chevron-left"></i></button>
            </ion-nav-buttons>
        </ion-nav-bar>
    </ion-header-bar>
    <ion-content ng-init="init()">
      <div class="card">
        <div class="item item-text-wrap">
          <h6 style="text-align: center;" ng-repeat="cabecalho in cardapio.cabecalhos">{{cabecalho}}</h6>
        </div>
      </div>
        <div class="cate-lv2">
            <div class="card cate-lv2-item" ng-repeat="dia in cardapio.diasDaSemana">
                <div class="item item-thumbnail-left item-text-wrap" >
                    <img ng-src="img/prato.jpg">

                    <h2>{{dia.dia}}</h2>
                    <h3>{{dia.pratoPrincipal}}</h3>

                    <h4>{{dia.acompanhamentos}}</h4>

                    <h4>SOBREMESA: {{dia.sobremesa}}</h4>
                    <h6>Valor Nutricional: {{dia.valorNutricional}}</h6>
                    <br />
                    <div class="price"></div>
                    <div class="like"><i class="ion-heart"></i> 1065</div>
                </div>
            </div>
        </div>

        <div class="card" ng-show="false">
          <div class="item item-text-wrap">
            <h6></h6>
          </div>
        </div>
    </ion-content>
</ion-view>
