<ion-view view-title="{{menu.name}}">
    <ion-header-bar align-title="center" class="bar-light">
        <ion-nav-bar align-title="center">
            <ion-nav-buttons>
                <button class="button button-clear button-icon" ng-click="goBack()" ><i class="ion-chevron-left"></i></button>
            </ion-nav-buttons>
        </ion-nav-bar>
    </ion-header-bar>
    <ion-content ng-init="init()">
      <div class="card">
        <div class="item item-text-wrap">
          <h6>Período de 04/01/2016 até o dia 08/01/2016</h6>
          <h6>ALMOÇO : 11:30 ÀS 14:30 h - RU BÁSICO E PROFISSIONAL</h6>
          <h6>JANTAR : 18:00 ÀS 19:00 h - SOMENTE NO RU BÁSICO</h6>
        </div>
      </div>
        <div class="cate-lv2">
            <div class="card cate-lv2-item" ng-repeat="dia in diasDaSemana">
                <div class="item item-thumbnail-left item-text-wrap" >
                    <img ng-src="img/product/0.jpg">

                    <h2>{{dia.dia}}</h2>
                    <h6 style="color:red">Almoço</h6>
                    <h3>{{dia.almoco.prato}}</h3>

                    <h4 ng-repeat="acompanhamento in dia.almoco.acompanhamentos">{{acompanhamento}}</h4>

                    <h6 style="color:red">Jantar</h6>
                    <h3>{{dia.jantar.prato}}</h3>

                    <h4 ng-repeat="acompanhamento in dia.jantar.acompanhamentos">{{acompanhamento}}</h4>

                    <br />
                    <div class="price"></div>
                    <div class="like"><i class="ion-heart"></i> 1065</div>
                </div>
            </div>
        </div>

        <div class="card">
          <div class="item item-text-wrap">
            <h6>Cardápio sujeito à alterações. Ajude o Meio Ambiente: traga seu copo ou sua caneca.</h6>
          </div>
        </div>
    </ion-content>
</ion-view>
